#age-popup.age-popup
  .border-box
    include /jade/chunks/single_cornels.jade
    .border-box__header
      Вам есть 18 лет?
    .age-popup__answers
      a.age-popup__answer.age-popup__answer--yes(href="javascript:void(0);") Да
      a.age-popup__answer.age-popup__answer--no(href="https://yandex.ru/") Нет
      

