#ancor_beer.container.scrollto(data-nav-offset='100')
  .beer
    .beer__arrow.beer__arrow--left
      include /svg/arrow_left.svg
    .beer__container
      .beer__slide.beer__slide--active
        .beer__col
          .beer__big-glass
            img(src="images/big/optimizilla/img-21-min.png")      
        .beer__col
          .border-box.border-box--double.border-box--slide
            include /jade/chunks/double_cornels.jade
            .border-box__header
              | Beartel IPA Amarillo
            .border-box__sub-header
            .border-box__separator
            .border-box__desc
              | Его вкус можно характеризовать, 
              | <br> как classic. Никакой мишуры и блёсток только солод и американский хмель.              
      .beer__slide
        .beer__col
          .beer__big-glass
            img(src="images/big/optimizilla/img-22-min.png")      
        .beer__col
          .border-box.border-box--double.border-box--slide
            include /jade/chunks/double_cornels.jade
            .border-box__header
              |Cascade Uzufructus
            .border-box__sub-header
              |&nbsp;ABV: 6,2% 
            .border-box__sub-header
                  | &nbsp;IBU: 35      
            .border-box__separator
            .border-box__desc
              | Образец с сильным охмелением Сascade. 
              | <br> В Uzufructus мы использовали цедру апельсина и кориандр.                            
      .beer__slide
        .beer__col
          .beer__big-glass
            img(src="images/big/optimizilla/img-23-min.png")      
        .beer__col
          .border-box.border-box--double.border-box--slide
            include /jade/chunks/double_cornels.jade
            .border-box__header
              | Девиант
            .border-box__sub-header
              | &nbsp;ABV: 7,5% 
              | &nbsp;IBU: 35
            .border-box__separator
            .border-box__desc
              | В нашей коллекции это самый "крепкий" парень. Но не стоит бояться задиристого характера 
              | "Девианта" ведь на вкус он такой, каким должен быть настоящий эль.                 
      .beer__slide
        .beer__col
          .beer__big-glass
            img(src="images/big/optimizilla/img-24-min.png")      
        .beer__col
          .border-box.border-box--double.border-box--slide
            include /jade/chunks/double_cornels.jade
            .border-box__header
              | Double IPA
            .border-box__sub-header
            .border-box__separator
            .border-box__desc
              | В этом образце акцент сделан на количество хмеля Citra и Amarillo. Образец отлично подойдёт для ситуации, когда хочется расширить свои границы вкусовых представлений об эле.                           
      .beer__slide
        .beer__col
          .beer__big-glass
            img(src="images/big/optimizilla/img-25-min.png")      
        .beer__col
          .border-box.border-box--double.border-box--slide
            include /jade/chunks/double_cornels.jade
            .border-box__header
              | Wombat & Advocat
            .border-box__sub-header
              | &nbsp;&nbsp;IBU: 120
            .border-box__separator
            .border-box__desc
              | Горький, как правда адвоката! На охмеление исключительно австралийский хмель. Мы очень рисковали, когда догнали IBU до отметки 120, но эль вышел удачный. 
      .beer__slide
        .beer__col
          .beer__big-glass
            img(src="images/big/optimizilla/img-26-min.png")      
        .beer__col
          .border-box.border-box--double.border-box--slide
            include /jade/chunks/double_cornels.jade
            .border-box__header
              | Christmas Ale
            .border-box__sub-header
              | &nbsp;ABV: 5,3%    
            .border-box__separator
            .border-box__desc
              | Наше желание сварить рождественнский эль перелилось в бутылочку праздничного пива с ароматом корицы, имбиря и гвоздики.                         
      .beer__rack
        .beer__small-glass.beer__small-glass--active
          img(src="images/img-14.png")  
        .beer__small-glass
          img(src="images/img-15.png")  
        .beer__small-glass
          img(src="images/img-16.png")  
        .beer__small-glass
          img(src="images/img-17.png")  
        .beer__small-glass
          img(src="images/img-18.png")  
        .beer__small-glass
          img(src="images/img-19.png")  
    .beer__arrow.beer__arrow--right
      include /svg/arrow_right.svg
