#ancor_contacts.scrollto(data-nav-offset='50')
  h3.about__header
    | По всем вопросам
  p.paragraph.about__paragraph
    | Для нас пивоварение - это хобби, однако, если у вас появились интересные предложения и вопросы, вы можете связаться с нами через <a href="#go_to_form"> форму </a> на сайте.
  ul.about__order-list
    
  .about__billet
    p.center Чем больше выдерживается пиво - <br> тем вкуснее и насыщеннее вкус.
  #ancor_order.scrollto(data-nav-offset='150').about__order
    .border-box
      include /jade/chunks/single_cornels.jade
      .border-box__header
        | хочу ваш эль <a name="go_to_form"></a>
      .about__order-form
        .about__next
          include /svg/arrow_bottom.svg    
        form.form
          input(type="hidden", name="_subject", value="Новый заказ с лендинга")
          .form__group
            input.form__text(type="text", name="name", placeholder="Как вас зовут?")   
          .form__group
            input.form__text(type="text", name="phone", placeholder="Ваш номер телефона")   
          button.form__button(type="submit") ОТРАВИТЬ 
  .about__commercial-note
    .about__small-attention
        include /svg/small_attention.svg
    p.paragraph 
      | Данный сайт носит исключительно информационно-ознакомительный характер и не является рекламой.
  .about__footer
    p.paragraph
      | © Разработано друзьями из 
      a(href="http://brabdev.com/" target="_blank") Brabens dev.
