#ancor_beer.container.scrollto(data-nav-offset='100')
  .beer
    .beer__arrow.beer__arrow--left
      include /svg/arrow_left.svg
    .beer__container
      .beer__slide.beer__slide--active
        .beer__col
          .beer__big-glass
            img(src="images/big/optimizilla/img-21-min.png")      
        .beer__col
          .border-box.border-box--double.border-box--slide
            include /jade/chunks/double_cornels.jade
            .border-box__header
              | Бертель IPA Amarillo
            .border-box__sub-header
              | наш самый первый эль
            .border-box__separator
            .border-box__desc
              | Ароматный эль на с сильным охмелением <br> cascade, с добавлением цедры апельсина и кориандра              
      .beer__slide
        .beer__col
          .beer__big-glass
            img(src="images/big/optimizilla/img-22-min.png")      
        .beer__col
          .border-box.border-box--double.border-box--slide
            include /jade/chunks/double_cornels.jade
            .border-box__header
              | Бертель IPA Amarillo
            .border-box__sub-header
              | наш самый первый эль
            .border-box__separator
            .border-box__desc
              | Ароматный эль на с сильным охмелением <br> cascade, с добавлением цедры апельсина и кориандра                            
      .beer__slide
        .beer__col
          .beer__big-glass
            img(src="images/big/optimizilla/img-23-min.png")      
        .beer__col
          .border-box.border-box--double.border-box--slide
            include /jade/chunks/double_cornels.jade
            .border-box__header
              | Бертель IPA Amarillo
            .border-box__sub-header
              | наш самый первый эль
            .border-box__separator
            .border-box__desc
              | Ароматный эль на с сильным охмелением <br> cascade, с добавлением цедры апельсина и кориандра                            
      .beer__slide
        .beer__col
          .beer__big-glass
            img(src="images/big/optimizilla/img-24-min.png")      
        .beer__col
          .border-box.border-box--double.border-box--slide
            include /jade/chunks/double_cornels.jade
            .border-box__header
              | Бертель IPA Amarillo
            .border-box__sub-header
              | наш самый первый эль
            .border-box__separator
            .border-box__desc
              | Ароматный эль на с сильным охмелением <br> cascade, с добавлением цедры апельсина и кориандра                            
      .beer__slide
        .beer__col
          .beer__big-glass
            img(src="images/big/optimizilla/img-25-min.png")      
        .beer__col
          .border-box.border-box--double.border-box--slide
            include /jade/chunks/double_cornels.jade
            .border-box__header
              | Бертель IPA Amarillo
            .border-box__sub-header
              | наш самый первый эль
            .border-box__separator
            .border-box__desc
              | Ароматный эль на с сильным охмелением <br> cascade, с добавлением цедры апельсина и кориандра                            
      .beer__slide
        .beer__col
          .beer__big-glass
            img(src="images/big/optimizilla/img-26-min.png")      
        .beer__col
          .border-box.border-box--double.border-box--slide
            include /jade/chunks/double_cornels.jade
            .border-box__header
              | Бертель IPA Amarillo
            .border-box__sub-header
              | наш самый первый эль
            .border-box__separator
            .border-box__desc
              | Ароматный эль на с сильным охмелением <br> cascade, с добавлением цедры апельсина и кориандра                            
      .beer__rack
        .beer__small-glass.beer__small-glass--active
          img(src="images/img-14.png")  
        .beer__small-glass
          img(src="images/img-15.png")  
        .beer__small-glass
          img(src="images/img-16.png")  
        .beer__small-glass
          img(src="images/img-17.png")  
        .beer__small-glass
          img(src="images/img-18.png")  
        .beer__small-glass
          img(src="images/img-19.png")  
    .beer__arrow.beer__arrow--right
      include /svg/arrow_right.svg
