#ancor_top.container.scrollto
  .top
    .top__frends
      include /svg/screen_1_icon_frends.svg
    .top__header
      include /svg/screen1_header_canvas.svg
    .top__order
      include /svg/screen1_icon_order.svg
    .top__next
      h2 сорта
      include /svg/arrow_bottom.svg  
