#ancor_process.container.scrollto
  .process
    .screen-head
      .screen-head__rhombus
        include /svg/rhombus.svg
      h2.screen-head__header 
        | Процесс
      .screen-head__rhombus
        include /svg/rhombus.svg
      h4.screen-head__sub-header
        | ничего секретного
    .process__row
      .process__box
        h3 
          | стерильность
          br
          | производства    
        .process__icon.process__icon--sterility
          include /svg/screen_3_icon_sterility.svg
        .process__desc
          | Чистота и стерильность - это  <br>
          | главные правила при варке, ферментации <br>
          | и разливе нашего пива.
      .process__box
        h3  
          | Отборные
          br
          | ингредиенты    
        .process__icon.process__icon--import
          include /svg/screen_3_icon_import.svg
        .process__desc
          | Работаем преимущественно <br>
          | с зарубежным сырьём. &nbsp;Не используем пивные
          | эксртракты и спирт.
    .process__row
      .process__rhombus
        include /svg/rhombus.svg
      .process__order
        .border-box
          include /jade/chunks/single_cornels.jade
          .border-box__header
            | хочу ваш эль  
      .process__rhombus
        include /svg/rhombus.svg
    .process__row
      .process__box
        h3 
          | Оригинальные
          br
          | рецептуры    
        .process__icon.process__icon--recept
          include /svg/screen_3_icon_recept.svg
        .process__desc
          | Варим по собственным рецептам <br> 
          | с выдержкой всех технологий.
      .process__box
        h3  
          | Натуральное
          br
          | сырьё    
        .process__icon.process__icon--natural
          include /svg/screen_3_icon_natural.svg
        .process__desc
          | Не используем красители <br> и усилители вкуса. &nbsp;Все компоненты
          | растительного происхождения.
    .process__screen-time                  
      .screen-head
        .screen-head__rhombus
          include /svg/rhombus.svg
        h2.screen-head__header 
          | созревание пива
        .screen-head__rhombus
          include /svg/rhombus.svg
        h4.screen-head__sub-header
          | важнейший аспект в создании хорошего пива
      .process__row
        .process__time
          h4 Варка и ферментация
          h3 ≈ 2 недели                
        .process__clock
          include /svg/clock.svg              
        .process__time
          h4 Разлив и карбонизация
          h3 ≈ 2-3 недели                
      .process__row
        .process__time.process__time--single
          h3 ≈ 1 месяц
