#ancor_about.scrollto(data-nav-offset='100')
  .border-box.border-box--double
    include /jade//chunks/double_cornels.jade
    .border-box__header
      | Юристпруденция и пиво
    .border-box__sub-header
      | а это вообще совмещают ?
    .border-box__quote
      include /svg/box_quote.svg
    .border-box__desc
      | Пожалуй, это самый популярный вопрос к нам за те полгода, что мы варим пиво в Петербурге.
  h3.about__frends-header
    | Мы — команда <br> трех друзей  
  .about__persons
    ul
      li Антон Ильин <span>(слева)</span>
      li Владимир Миронов <span>(по центру)</span
      li Евгений Юдин <span>(справа)</span>
    p
      | Которые по предварительному сговору решили варить отличное крафтовое пиво для себя и своих друзей. 
  p.about__paragraph  
    | Мы профессиональные юристы, пивоварение для нас является хобби, которым мы занимаемся регулярно и с большим желанием, что собственно и отображается в нашем названии. Поэтому в каждом нашем пиве имеется намек на юридические термины и обозначения.  
  h3.about__header
    | Касательно продукции
  p.about__paragraph
    | Все составляющие для пива, выбираются, в первую очередь, по критерию качества, так как мы уверенны, что только хорошее сырье может дать отличный результат. Рецепты мы переводим с американских форумов, в основном мы варим светлые сорта элей, в частности IPA, APA etc.
