#ancor_about.scrollto(data-nav-offset='100')
  .border-box.border-box--double
    include /jade//chunks/double_cornels.jade
    .border-box__header
      | Мы варим для себя
    .border-box__sub-header
    .border-box__quote
      include /svg/box_quote.svg
    .border-box__desc
      | Поэтому все составляющие для пива, выбираются, в первую очередь,
      | по критерию качества. Мы уверены, что только хорошее сырьё может дать отличный эль.
  h3.about__frends-header
  .about__persons
    p.center
      | Варим пиво по предварительному сговору <br> 
      | для себя и своих друзей. 
  p.paragraph.about__paragraph  
    | Мы профессиональные юристы, пивоварение наше увлечение, которым мы занимаемся регулярно и с большим желанием, что собственно и отражается в нашем названии. Поэтому в каждом нашем пиве имеется намек на юридические термины и обозначения.  
  h3.about__header
    | Касательно продукции
  p.paragraph.about__paragraph
    | Все составляющие для пива, выбираются, в первую очередь, по критерию качества. Мы уверены, что только хорошее сырье может дать отличный результат. В основном мы варим светлые сорта эля, в частности IPA, APA, etc. 
    | Стили нашего пива постоянно улучшаются и могут модифицироваться под частные вкусы.
