doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Document
    link(rel='stylesheet', href='css/styles.css')
    //- meta(content='width=device-width, initial-scale=1', name='viewport')
  body
    .top-bg.top-bg--left
      img(src='/images/big/img-09.png', alt='')
    .top-bg.top-bg--right
      img(src='/images/big/img-10.png', alt='')  
    .menu
      .menu__top-space
      .menu__fixed
        .container
          .menu__container
            a.menu__item(href='#ancor_top')
              span.visible--lg-inline-block Viva la
              span craft
            a.menu__item(href='#ancor_beer')
              | Наше пиво
            a.menu__item(href='#ancor_process')
              | Процесс
            .menu__header
              include svg/menu_header.svg
            a.menu__item(href='#ancor_about')
              | О нас
            a.menu__item(href='#ancor_contacts')
              | Контакты
            a.button(href='#ancor_order')
              | заказать                   
    #ancor_top.container.scrollto
      .top
        .top__frends
          include svg/screen_1_icon_frends.svg
        .top__header
          include svg/screen1_header.svg
        .top__order
          include svg/screen1_icon_order.svg
        .top__next
          h2 ассортимент
          include svg/arrow_bottom.svg  
    #ancor_beer.container.scrollto
      | test
    #ancor_process.container.scrollto
      .process
        .screen-head
          .screen-head__rhombus
            include svg/rhombus.svg
          h2.screen-head__header 
            | Процесс приготовления
          .screen-head__rhombus
            include svg/rhombus.svg
          h4.screen-head__sub-header
            | ничего секретного
        .process__row
          .process__box
            h3 
              | Стирильность
              br
              | производства    
            .process__icon.process__icon--sterility
              include svg/screen_3_icon_sterility.svg
            .process__desc
              | Процесс варки, ферментациии и <br> разлития пива находятся под <br> строжайшим контролем.  
          .process__box
            h3  
              | Импортные
              br
              | ингредиенты    
            .process__icon.process__icon--import
              include svg/screen_3_icon_import.svg
            .process__desc
              | Солод закупается из Финляндии. <br> Хмель преимущественно <br> Американский. 
        .process__row
          .process__rhombus
            include svg/rhombus.svg
          .process__order
            .border-box
              .border-box__cornel
                include svg/single_cornel.svg
              .border-box__cornel
                include svg/single_cornel.svg
              .border-box__cornel
                include svg/single_cornel.svg
              .border-box__cornel
                include svg/single_cornel.svg
              .border-box__header
                | закажи пиво
              .border-box__sub-header
                | прямо сейчас   
          .process__rhombus
            include svg/rhombus.svg
        .process__row
          .process__box
            h3 
              | Оригинальные
              br
              | рецептуры    
            .process__icon.process__icon--recept
              include svg/screen_3_icon_recept.svg
            .process__desc
              | Мы варим пиво по оригинальным <br> рецептурам со строгим <br> соблюдением всех нормативов. 
          .process__box
            h3  
              | Натуральное
              br
              | сырье    
            .process__icon.process__icon--natural
              include svg/screen_3_icon_natural.svg
            .process__desc
              | Все ингредиенты имеют <br> растительное происхождение. <br> Без красителей и ароматизаторов.          
        .process__screen-time                  
          .screen-head
            .screen-head__rhombus
              include svg/rhombus.svg
            h2.screen-head__header 
              | сроки изготовления
            .screen-head__rhombus
              include svg/rhombus.svg
            h4.screen-head__sub-header
              | важнейший аспект подготовки мероприятия
          .process__row
            .process__time
              h4 Варка и ферментация
              h3 ≈ 2.5 недели                
            .process__clock
              include svg/clock.svg              
            .process__time
              h4 Карбонизация
              h3 ≈ 2 недели                
          .process__row
            .process__time.process__time--single
              h3 ≈ 1 месяц          
              h4 50 % — предоплата
              h4 50 % — курьеру
    #ancor_about.container.scrollto
      | gfhh
    #ancor_contacts.container.scrollto
      | test
    script(src="./bower_components/jquery/dist/jquery.js")
    script(src="./bower_components/jquery-easing-original/jquery.easing.js")
    script(src="./scripts/jquery.stickyNavbar.js")
    script(src="./index.js")
