doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Document
    link(rel='stylesheet', href='css/styles.css')
    //- meta(content='width=device-width, initial-scale=1', name='viewport')
  body
    .top-bg.top-bg--left
      img(src='/images/big/img-09.png', alt='')
    .top-bg.top-bg--right
      img(src='/images/big/img-10.png', alt='')  
    .menu
      .menu__top-space
      .menu__fixed
        .container
          .menu__container
            a.menu__item(href='#ancor_top')
              span.visible--lg-inline-block Viva la
              span craft
            a.menu__item(href='#ancor_beer')
              | Наше пиво
            a.menu__item(href='#ancor_process')
              | Процесс
            .menu__header
              include svg/menu_header.svg
            a.menu__item(href='#ancor_about')
              | О нас
            a.menu__item(href='#ancor_contacts')
              | Контакты
            a.button(href='#ancor_order')
              | заказать                   
    #ancor_top.container.scrollto
      .top
        .top__frends
          include svg/screen_1_icon_frends.svg
        .top__header
          include svg/screen1_header.svg
        .top__order
          include svg/screen1_icon_order.svg
        .top__next
          h2 ассортимент
          include svg/arrow_bottom.svg  
    #ancor_beer.container.scrollto
      | test
    #ancor_process.container.scrollto
      .process
        .process__row
          .process__box
            h3 
              | Стирильность
              br
              | производства    
            .process_icon
              include svg/screen_3_icon_sterility.svg
            .process_desc
              | Процесс варки, ферментациии и разлития пива находятся под строжайшим контролем.  
          .process__box
            h3  
              | Импортные
              br
              | ингредиенты    
            .process_icon
              include svg/screen_3_icon_import.svg
            .process_desc
              | Солод закупается из Финляндии. Хмель преимущественно Американский. 
        .process__row
          .process__order
            include svg/border_mask.svg
            .process__row
              .process__box
                h3 
                  | Оригинальные
                  br
                  | рецептуры    
                .process_icon
                  include svg/screen_3_icon_sterility.svg
                .process_desc
                  | Мы варим пиво по оригинальным рецептурам со строгим соблюдением всех нормативов. 
              .process__box
                h3  
                  | Натуральное
                  br
                  | сырье    
                .process_icon
                  include svg/screen_3_icon_import.svg
                .process_desc
                  | Все ингредиенты имеют растительное происхождение. Без красителей и ароматизаторов.          
    #ancor_about.container.scrollto
      | gfhh
    #ancor_contacts.container.scrollto
      | test
    script(src="./bower_components/jquery/dist/jquery.js")
    script(src="./bower_components/jquery-easing-original/jquery.easing.js")
    script(src="./scripts/jquery.stickyNavbar.js")
    script(src="./index.js")
