.about
  display: flex
  padding-top: 125px
  &__col
    @include column($fraction: '1/2', $gut: 70px)
  &__fixed
    display: flex
    justify-content: center
    align-content: center
  &__citation
    margin-right: 30px
    h4
      font-family: 'Gotham Pro'
      font-size: 15px
      font-weight: normal
      margin: 0
      text-transform: uppercase
      color: $accent-color
    p
      margin: 25px 0
  &__quote
    .a
      fill: none
      stroke: #eaae3b
      stroke-linecap: round
      stroke-linejoin: round
      stroke-width: 2px
  &__attention
    position: relative
    top: -20px
    .a, .b
      fill: none
      stroke: #eaae3b
      stroke-linecap: round
      stroke-linejoin: round
    .a
      stroke-width: 2px
