.process
  min-height: 2000px
  background-image: url('/images/big/img-11.png')
  background-repeat: no-repeat
  background-position: center top
  background-size: 405px
  &__order
    .cls-1, .cls-2
      fill: none
      stroke: #eaae3b
      stroke-linecap: round
      stroke-linejoin: round
    .cls-1
      stroke-width: 2px
