.top
  display: flex
  margin-top: 120px
  align-items: center
  justify-content: center
  flex-wrap: wrap
  position: relative
  &__frends
    svg
      .a, .b, .c
        fill: none
        stroke: #eaae3b
        stroke-linecap: round
        stroke-linejoin: round
      .a
        stroke-width: 2px
      .c
        stroke-width: 2px
        fill-rule: evenodd
      .d
        fill: #eaae3b
      .e
        fill: #fff
  &__header
    flex-grow: 1
    position: relative
    svg
      display: block
      margin: 0 auto
      .a, .b, .c, .d
        fill: none
        stroke: #eaae3b
        stroke-linecap: round
        stroke-linejoin: round
      .a, .c
        fill-rule: evenodd
      .c, .d
        stroke-width: 2px
      .e
        fill: #eaae3b
      .f
        fill: #fff
  &__header-canvas
    position: absolute
    top: 130px
    left: 50%
    margin-left: -200px
    transform: translate3d(0,0,0)
    canvas
      // width: 800px
      // height: 400px

  &__next
    width: 100%
    text-align: center
    margin-top: 120px
    h2
      font-family: "Gotham Pro"
      font-size: 14px
      font-weight: bold
      text-transform: uppercase
      font-kerning: normal
      a
        color: #fff
        cursor: pointer
        &:hover
          text-decoration: none
        svg
          margin-top: 12px
          cursor: pointer

//  Medium screen / desktop
@media (max-width: $screen-md-max)
  .top
    margin-top: 50px
    max-width: 860px
    margin-left: auto
    margin-right: auto
    justify-content: space-around
    &__frends
      padding-top: 50px
      svg
        width: 175px
        display: block
        rect.d
          display: none
    &__header
      flex-grow: 0
      svg
        width: 551px - 135px
    &__order
      padding-top: 50px
      svg
        width: 175px
        display: block
        rect.e
          display: none
    &__next
      margin-top: 80px
      h2
        text-align: center
