body
  background-image: url('/images/bg.jpg')
  background-position: 50% 0%
  background-repeat: repeat-y
  margin-left: auto
  margin-right: auto
  position: relative
  color: $text-color
  font-family: 'Gotham Pro'
  font-size: 16px
  padding-bottom: 700px

a
  color: $accent-color
  text-decoration: none
  &:hover
    text-decoration: underline
