@font-face {
	font-family: 'Anglecia Pro Display';
	src: url('fonts/subset-AngleciaProDisplay-Medium.eot');
	src: url('fonts/subset-AngleciaProDisplay-Medium.eot?#iefix') format('embedded-opentype'),
		url('fonts/subset-AngleciaProDisplay-Medium.woff') format('woff'),
		url('fonts/subset-AngleciaProDisplay-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Anglecia Pro Display';
	src: url('fonts/subset-AngleciaProDisplay-Black.eot');
	src: url('fonts/subset-AngleciaProDisplay-Black.eot?#iefix') format('embedded-opentype'),
		url('fonts/subset-AngleciaProDisplay-Black.woff') format('woff'),
		url('fonts/subset-AngleciaProDisplay-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham Pro';
	src: url('fonts/subset-GothamPro.eot');
	src: url('fonts/subset-GothamPro.eot?#iefix') format('embedded-opentype'),
		url('fonts/subset-GothamPro.woff') format('woff'),
		url('fonts/subset-GothamPro.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Anglecia Pro Display';
	src: url('fonts/subset-AngleciaProDisplay-MediumItalic.eot');
	src: url('fonts/subset-AngleciaProDisplay-MediumItalic.eot?#iefix') format('embedded-opentype'),
		url('fonts/subset-AngleciaProDisplay-MediumItalic.woff') format('woff'),
		url('fonts/subset-AngleciaProDisplay-MediumItalic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Gotham Pro';
	src: url('fonts/subset-GothamPro-Bold.eot');
	src: url('fonts/subset-GothamPro-Bold.eot?#iefix') format('embedded-opentype'),
		url('fonts/subset-GothamPro-Bold.woff') format('woff'),
		url('fonts/subset-GothamPro-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'MastadoniG5';
	src: url('fonts/subset-MastadoniG5-Italic.eot');
	src: url('fonts/subset-MastadoniG5-Italic.eot?#iefix') format('embedded-opentype'),
		url('fonts/subset-MastadoniG5-Italic.woff') format('woff'),
		url('fonts/subset-MastadoniG5-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}
