.border-box__cornel
  include ../../svg/double_cornel.svg
.border-box__cornel
  include ../../svg/double_cornel.svg
.border-box__cornel
  include ../../svg/double_cornel.svg
.border-box__cornel
  include ../../svg/double_cornel.svg
