.border-box__cornel
  include ../../svg/single_cornel.svg
.border-box__cornel
  include ../../svg/single_cornel.svg
.border-box__cornel
  include ../../svg/single_cornel.svg
.border-box__cornel
  include ../../svg/single_cornel.svg
